section {
  margin-bottom: 32px;
}
.container {
  border: 1px solid red;
  padding: 20px 12px;
  margin: 0 auto;
  @include media(mobile) {
    width: $mobile;
  }
  @include media(desktop) {
    width: $desktop;
  }
}
