$_main_text_color: #fff;
$_main_bg_color: #040023;
$_second_color: #db4b00;
$_links_color: #8bbcff;
$_accent_btn_color: #d3652c;
$_liner_bg: linear-gradient(
  180deg,
  $_main_bg_color 0%,
  #a63900 50%,
  $_main_bg_color 100%
);
$_text_shadow: 0 4px 4px rgba(0, 0, 0, 0.72);

$font-family: 'Roboto Condensed', sans-serif;
$second-family: 'Inter', sans-serif;
$transition: 250ms linear;
