.policy-header {
  margin-bottom: 32px;
  padding: 20px 0px;
  @include media(desktop) {
    margin-bottom: 56px;
  }
}
.back-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  .back-icon {
    height: 32px;
  }
}
.policy-main_title {
  @include main-title-style;
}

.policy-second_title {
  @include second-title-style;
}
.policy-third_title {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 24px;
  @include media(desktop) {
    font-weight: 500;
    font-size: 24px;
  }
}
.policy-text {
  @include text-style;
  &.validity-period {
    margin-top: 28px;
  }
}

.policy-list {
  @include list-style;
  &.link-list {
    color: $_links_color;
    @include media(desktop) {
      text-decoration: underline;
    }
  }
}
.policy-text.last {
  margin-bottom: 0px;
}
