<section id="about">
  <div class="container about">
    <h2 class="about-title">About the Game</h2>
    <div class="about-box js-about-box-first">
      <p class="about-text">
        Trail Boss BMX is an exhilarating physics-based BMX game where players
        tackle daring trails, execute mind-blowing tricks, and push their limits
        in a thrilling outdoor adventure. Master the mechanics of balance,
        control, and technique as you navigate through increasingly difficult
        courses filled with jumps, drops, and obstacles. With highly responsive
        controls and realistic physics, every move counts in your quest to
        become the ultimate BMX trail boss!
      </p>
      <picture class="js-first-image">
        <source
          srcset="
            ./img/about/iPhone14-d.png    1x,
            ./img/about/iPhone14-d@2x.png 2x
          "
          media="(min-width: 1200px)"
          width="436"
        />
        <source
          srcset="./img/about/iPhone14.png 1x, ./img/about/iPhone14@2x.png 2x"
          loading="lazy"
        />
        <img
          class
          src="./img/about/iPhone14.png"
          alt="screenshot from game and iPhone 15"
          width="296"
        />
      </picture>
    </div>
    <div class="about-box js-about-box-second">
      <p class="about-text">
        Ride through forests, urban landscapes, and extreme courses, mastering
        tricks like backflips and grinds. Customize your bike, compete for high
        scores, and push your limits in freestyle or structured challenge modes.
        Whether you're a casual rider or a BMX pro, Trail Boss BMX delivers
        high-flying action!
      </p>
      <picture class="js-second-image">
        <source
          srcset="
            ./img/about/iPhone15-d.png    1x,
            ./img/about/iPhone15-d@2x.png 2x
          "
          media="(min-width: 1200px)"
          loading="lazy"
          width="436"
        />
        <source
          srcset="./img/about/iPhone15.png 1x, ./img/about/iPhone15@2x.png 2x"
          loading="lazy"
        />
        <img
          src="./img/about/iPhone15.png"
          alt="screenshot from game and iPhone 15"
          width="296"
        />
      </picture>
    </div>
  </div>
</section>
