<section class="choose" id="choose">
  <div class="container choose-container">
    <h2 class="choose-title">Why Choose Trail Boss BMX</h2>
    <p class="choose-text">
      Unlike other BMX games, Trail Boss BMX combines
      <span class="choose-bold-text">ultra-realistic physics</span>,
      <span class="choose-bold-text">challenging gameplay</span>, and
      <span class="choose-bold-text">stunning visuals</span> to create
      <span class="choose-bold-text"> the most immersive BMX experience</span>
      available. Whether you're a professional rider or just love action-packed
      sports games, Trail Boss BMX will keep you engaged with its
      <span class="choose-bold-text">ever-expanding challenges</span> and
      <span class="choose-bold-text">exciting mechanics</span>.
    </p>
  </div>
</section>
