<section class="choose" id="choose">
  <div class="container choose-container">
    <h2 class="choose-title">Why Choose Trail Boss BMX</h2>
    <p class="choose-text">
      Unlike other BMX games, Trail Boss BMX combines ultra-realistic physics,
      challenging gameplay, and stunning visuals to create the most immersive
      BMX experience available. Whether you're a professional rider or just love
      action-packed sports games, Trail Boss BMX will keep you engaged with its
      ever-expanding challenges and exciting mechanics.
    </p>
    <a
      class="choose-link"
      href="https://play.google.com/store/apps/details?id=com.noodlecake.trailboss&hl=en&gl=us"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="choose-image"
        src="./img/choose/google-play-market.svg"
        alt="Google Play Market icon"
        width="22px"
        height="24px"
      />
      <span class="choose-link-text">Play Now</span>
    </a>
  </div>
</section>
