<section class="cookies-section">
  <div class="container cookies-modal">
    <h2 class="cookies-modal_title">Cookies Policy</h2>
    <p class="cookies-modal_text">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="cookies-buttons">
      <button id="accept-cookies" class="accept-cookies">aCCEPT COOKIES</button>
      <button id="decline-cookies" class="decline-cookies">
        dECLINE COOKIES
      </button>
    </div>
  </div>
</section>
