<ul class="gal-list container">
  <li>
    <svg class="test-icon" width="24" height="24">
      <use href="./img/symbol-defs.svg#icon-hugeicons_cancel-01"></use>
    </svg>
  </li>
  <li>
    <svg class="test-icon" width="24" height="24">
      <use href="./img/sprite.svg#icon-burger"></use>
    </svg>
  </li>
  <li>
    <svg class="test-icon" width="24" height="24">
      <use href="./img/sprite.svg#icon-left_arrow"></use>
    </svg>
  </li>
  <li>
    <svg class="test-icon" width="24" height="24">
      <use href="./img/sprite.svg#icon-right_arrow"></use>
    </svg>
  </li>
  <li>
    <svg class="test-icon" width="24" height="24">
      <use href="./img/sprite.svg#icon-star"></use>
    </svg>
  </li>
</ul>
