<section id="gallery" class="gallery">
  <div class="container gallery-container">
    <button
      class="gallery-btn swiper-button-next"
      aria-label="Next slide"
    ></button>
    <h2 class="gallery-title">Gallery</h2>
    <button
      class="gallery-btn swiper-button-prev"
      aria-label="Next slide"
    ></button>

    <div class="swiper swiperGallery">
      <ul class="swiper-wrapper">
        <li data-hash="slide6" class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/sixth_slide.jpg    1x,
                ./img/gallery/sixth_slide@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="gallery-img"
              src="./img/gallery/sixth_slide.jpg"
              alt="game image"
              width="296"
              loading="lazy"
            />
          </picture>
        </li>
        <li data-hash="slide1" class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/first_slide.jpg    1x,
                ./img/gallery/first_slide@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="gallery-img"
              src="./img/gallery/first_slide.jpg"
              alt="game image"
              width="296"
              loading="lazy"
            />
          </picture>
        </li>
        <li data-hash="slide2" class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/second_slide.jpg    1x,
                ./img/gallery/second_slide@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="gallery-img"
              src="./img/gallery/second_slide.jpg"
              alt="game image"
              width="296"
              loading="lazy"
            />
          </picture>
        </li>
        <li data-hash="slide3" class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/third_slide.jpg    1x,
                ./img/gallery/third_slide@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="gallery-img"
              src="./img/gallery/third_slide.jpg"
              alt="game image"
              width="296"
              loading="lazy"
            />
          </picture>
        </li>
        <li data-hash="slide4" class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/fourth_slide.jpg    1x,
                ./img/gallery/fourth_slide@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="gallery-img"
              src="./img/gallery/fourth_slide.jpg"
              alt="game image"
              width="296"
              loading="lazy"
            />
          </picture>
        </li>
        <li data-hash="slide5" class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/fifth_slide.jpg    1x,
                ./img/gallery/fifth_slide@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="gallery-img"
              src="./img/gallery/fifth_slide.jpg"
              alt="game image"
              width="296"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
