<section class="gallery">
  <div class="container">
    <h3 class="gallery-title">Gallery</h3>
    <ul>
      <li>
        <picture>
          <source
            srcset="
              ./img/gallery/first_slide.jpg    1x,
              ./img/gallery/first_slide@2x.jpg 2x
            "
            loading="lazy"
          />
          <img
            class="gallery-img"
            src="./img/gallery/first_slide.jpg"
            alt="game image"
            width="296px"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./img/gallery/second_slide.jpg    1x,
              ./img/gallery/second_slide@2x.jpg 2x
            "
            loading="lazy"
          />
          <img
            class="gallery-img"
            src="./img/gallery/second_slide.jpg"
            alt="game image"
            width="296px"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./img/gallery/third_slide.jpg    1x,
              ./img/gallery/third_slide@2x.jpg 2x
            "
            loading="lazy"
          />
          <img
            class="gallery-img"
            src="./img/gallery/third_slide.jpg"
            alt="game image"
            width="296px"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./img/gallery/fourth_slide.jpg    1x,
              ./img/gallery/fourth_slide@2x.jpg 2x
            "
            loading="lazy"
          />
          <img
            class="gallery-img"
            src="./img/gallery/fourth_slide.jpg"
            alt="game image"
            width="296px"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./img/gallery/fifth_slide.jpg    1x,
              ./img/gallery/fifth_slide@2x.jpg 2x
            "
            loading="lazy"
          />
          <img
            class="gallery-img"
            src="./img/gallery/fifth_slide.jpg"
            alt="game image"
            width="296px"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
