<section>
  <div class="hero container">
    <h1 class="hero-title">
      <span class="title-color">Trail Boss BMX</span> Master the Ultimate BMX
      Challenge!
    </h1>
    <p class="hero-description">
      Take your BMX skills to the next level! Perform insane tricks, conquer
      challenging trails, and become the ultimate Trail Boss!
    </p>
    <a
      class="play-market-link"
      href="https://play.google.com/store/apps/details?id=com.noodlecake.trailboss&hl=en&gl=us"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="play-market-image google-image"
        src="./img/choose/google-play-market.svg"
        alt="Google Play Market icon"
        width="22px"
        height="24px"
      />
      <span class="play-market-link-text">Play Now</span>
    </a>
  </div>
</section>
