<section id="hero">
  <div class="hero container">
    <h1 class="hero-title">
      <span class="title-color">Trail Boss BMX</span> Master the Ultimate BMX
      Challenge!
    </h1>
    <p class="hero-description">
      Take your BMX skills to the next level! Perform insane tricks, conquer
      challenging trails, and become the ultimate Trail Boss!
    </p>
    <a
      class="play-market-link"
      href="https://play.google.com/store/apps/details?id=com.noodlecake.trailboss&hl=en&gl=us"
      target="_blank"
      rel="noopener noreferrer"
    >
      <picture class="play-market-image google-image">
        <source
          srcset="./img/hero/play-m.png 1x, ./img/hero/play-m@2x.png 2x"
        />
        <img
          src="./img/hero/play-m.png"
          alt="Google Play Market icon"
          width="22px"
          height="24px"
        />
      </picture>
      <span class="play-market-link-text">Play Now</span>
    </a>
  </div>
</section>
