<section>
  <div class="container reviews">
    <button class="reviews-btn swiper-button-next"></button>
    <h2 class="reviews-title">User Reviews</h2>
    <button class="reviews-btn swiper-button-prev"></button>
    <div class="swiper swiperReviews">
      <ul class="reviews-list swiper-wrapper">
        <li class="reviews-item swiper-slide">
          <h4 class="reviews-item_title">
            Jake M.,<span> Trick Perfectionist</span>
          </h4>
          <ul class="reviews-stars_list">
            <li class="star">
              <img
                src="./img/png-icons/star2x.png"
                alt="review star"
                class="star-icon"
                width="34px"
              />
            </li>
            <li class="star">
              <img
                src="./img/png-icons/star2x.png"
                alt="review star"
                class="star-icon"
                width="34px"
              />
            </li>
            <li class="star">
              <img
                src="./img/png-icons/star2x.png"
                alt="review star"
                class="star-icon"
                width="34px"
              />
            </li>
            <li class="star">
              <img
                src="./img/png-icons/star2x.png"
                alt="review star"
                class="star-icon"
                width="34px"
              />
            </li>
            <li class="star">
              <img
                src="./img/png-icons/star2x.png"
                alt="review star"
                class="star-icon"
                width="34px"
              />
            </li>
          </ul>
          <p class="reviews-item_text">
            "I’m obsessed with perfecting tricks and combos, and this game
            delivers! The mechanics allow for precise control, so when I land a
            flawless trick sequence, it feels incredibly satisfying. The trick
            variety is impressive, and chaining them together for massive scores
            is such a thrill. It’s a game that rewards creativity and skill, and
            I can’t get enough of it."
          </p>
        </li>
        <li class="reviews-item swiper-slide">
          <h4 class="reviews-item_title"></h4>
          <div class="reviews-icon_wrapper"></div>
          <p class="reviews-item_text"></p>
        </li>
        <li class="reviews-item swiper-slide">
          <h4 class="reviews-item_title"></h4>
          <div class="reviews-icon_wrapper"></div>
          <p class="reviews-item_text"></p>
        </li>
        <li class="reviews-item swiper-slide">
          <h4 class="reviews-item_title"></h4>
          <div class="reviews-icon_wrapper"></div>
          <p class="reviews-item_text"></p>
        </li>
        <li class="reviews-item swiper-slide">
          <h4 class="reviews-item_title"></h4>
          <div class="reviews-icon_wrapper"></div>
          <p class="reviews-item_text"></p>
        </li>
        <li class="reviews-item swiper-slide">
          <h4 class="reviews-item_title"></h4>
          <div class="reviews-icon_wrapper"></div>
          <p class="reviews-item_text"></p>
        </li>
      </ul>
    </div>
  </div>
</section>
