.container.about {
  .about-title {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 500;
    @include font(24, 28);
    text-align: center;
    color: var(--white);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.72);
    margin-bottom: 16px;
  }
  .about-box {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    .about-text {
      font-family: var(--font-family);
      font-weight: 400;
      @include font(16, 20);
      color: var(--white);
    }
  }

  @include media(desktop) {
    padding: 0px 236px;
  }
}
