.container.benefits-container {
  position: relative;
  @include media(desktop) {
    background-image: url('/img/benefits/left_fire.png'),
      url('/img/benefits/right_fire.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
  }
}
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  &-wrap {
    position: relative;
    margin-bottom: 16px;
  }
}
.benefits {
  background: $_liner_bg;
  &-title {
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.72);
    margin-bottom: 20px;
    @include media(desktop) {
      font-size: 36px;
    }
  }
  &-list {
    @include media(desktop) {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }
  }
}
.benefits-list > .swiper-slide {
  font-size: 16px;
  background: transparent;
  border: 2px solid $_main_text_color;
  border-radius: 8px;
  padding: 0 24px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  min-height: 144px;
  box-sizing: border-box;
  @include media(desktop) {
    max-width: 527px;
    padding: 44px 40px;
    min-height: 184px;
    font-size: 20px;
  }
}
.benefits-item_title {
  font-style: italic;
  font-size: 20px;
  margin-bottom: 16px;
  @include media(desktop) {
    font-weight: 500;
    font-size: 24px;
  }
}

.benefits-btn.swiper-button-next,
.benefits-btn.swiper-button-prev {
  width: 36px;
  height: 36px;
  color: $_main_text_color;
  border-radius: 8px;
  border: 2px solid $_main_text_color;
  top: 6%;
  @include media(desktop) {
    @include hidden-element;
  }
}

.benefits-btn.swiper-button-next {
  &::after {
    content: url('/img/png-icons/right_arrow.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      content: url('/img/png-icons/right_arrow@2x.png');
    }
  }
}
.benefits-btn.swiper-button-prev {
  &::after {
    content: url('/img/png-icons/left_arrow.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      content: url('/img/png-icons/left_arrow@2x.png');
    }
  }
}
