.container.benefits-container {
  position: relative;
  @include media(desktop) {
    background-image: url('/img/benefits/left_fire.png'),
      url('/img/benefits/right_fire.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top 70px left 60px, bottom right 60px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  &-wrap {
    position: relative;
    margin-bottom: 16px;
  }
}
.benefits {
  background: $_liner_bg;
  &-title {
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    text-shadow: $_text_shadow;
    margin-bottom: 20px;
    // margin-top: 4px;
    @include media(desktop) {
      font-size: 36px;
      margin-bottom: 44px;
    }
  }
  &-list {
    @include media(desktop) {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }
  }
}
.benefits-list > .swiper-slide {
  font-size: 16px;
  background: transparent;
  border: 2px solid $_main_text_color;
  border-radius: 8px;
  padding: 0 24px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  min-height: 144px;
  box-sizing: border-box;
  @include media(desktop) {
    max-width: 527px;
    padding: 44px 40px;
    min-height: 184px;
    font-size: 20px;
  }
}
.benefits-item_title {
  font-style: italic;
  font-size: 20px;
  margin-bottom: 16px;
  @include media(desktop) {
    font-weight: 500;
    font-size: 24px;
  }
}

.container > .benefits-btn.swiper-button-next,
.container > .benefits-btn.swiper-button-prev {
  width: 36px;
  height: 36px;
  top: 10%;
  transform: translateY(-10%);
  @include media(desktop) {
    @include hidden-element;
  }
}
