.choose {
  background-image: linear-gradient(
    180deg,
    $_main_bg_color 0%,
    #a63900 50%,
    $_main_bg_color 100%
  );

  .container.choose-container {
    background-image: url(/img/choose/flag.svg), url(/img/choose/flag-r.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: center left, center right;
    .choose-title {
      font-style: italic;
      font-weight: 500;
      @include font(24, 28);
      text-align: center;
      margin-bottom: 24px;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.72);
    }

    .choose-text {
      @include font(16, 20);
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.72);
      margin-bottom: 32px;
      @include media(desktop) {
        font-size: 24px;
        /*words have different font - need to do*/
      }
    }

    .choose-title {
      @include media(desktop) {
        font-size: 36px;
      }
    }
  }
}
