.choose {
  background-image: linear-gradient(
    180deg,
    $_main_bg_color 0%,
    #a63900 50%,
    $_main_bg_color 100%
  );

  .container.choose-container {
    position: relative;
    z-index: 2;
    &::before,
    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      width: 62%;
      height: 89%;
      background-image: url(/img/choose/flag-m.png);
      @include retina {
        background-image: url(/img/choose/flag-m@2x.png);
      }
      background-repeat: no-repeat;
      background-size: contain;
    }
    &::before {
      left: 0;
      background-position: center right;
    }
    &::after {
      right: 0;
      background-position: center right;
      transform: scaleX(-1);
    }
    .choose-title {
      font-style: italic;
      font-weight: 500;
      @include font(24, 28);
      text-align: center;
      margin-bottom: 24px;
      text-shadow: $_text_shadow;
    }

    .choose-text {
      @include font(16, 20);
      text-shadow: $_text_shadow;
      margin-bottom: 32px;
      .choose-bold-text {
        font-weight: 500;
      }
    }
  }

  @include media(desktop) {
    .container.choose-container {
      padding-top: 86px;
      padding-bottom: 86px;
      &::before,
      &::after {
        max-width: 540px;
        width: 100%;
        height: 100%;
        background-image: url(/img/choose/flag-d.png);
        @include retina {
          background-image: url(/img/choose/flag-d@2x.png);
        }
      }
      &::after {
        left: 42%;
        right: auto;
      }
      &::before {
        right: 42%;
        left: auto;
        background-position-x: right;
      }
      & .play-market-link {
        margin: 0 auto;
      }
      .choose-title {
        @include font(36, 40);
        margin-bottom: 40px;
      }

      .choose-text {
        @include font(24, 28);
        margin-bottom: 56px;
        .choose-bold-text {
          font-weight: 400;
          @include font(32, 36);
        }
      }
    }
  }
}
