.cookies-section {
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;

  overflow: hidden;
  background-color: $_main_bg_color;
}
.container.cookies-modal {
  padding: 17px 12px;
  @include media(desktop) {
    padding: 68px 60px;
  }
}
.cookies-modal {
  &_title {
    font-style: italic;
    font-weight: 500;
    margin-bottom: 14px;
    @include media(desktop) {
      font-size: 36px;
    }
  }
  &_text {
    font-size: 16px;
    margin-bottom: 32px;
    @include media(desktop) {
      font-size: 24px;
    }
  }
}
.cookies-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  @include media(desktop) {
    gap: 24px;
  }

  .accept-cookies,
  .decline-cookies {
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: inherit;
    border-radius: 8px;
    width: 138px;
    height: 43px;

    transition: background-color $transition;
    @include media(desktop) {
      width: 406px;
      height: 72px;
      font-size: 20px;
    }
  }
  .accept-cookies {
    background-color: $_second_color;
    border: 1px solid $_second_color;
    &:hover,
    &:focus {
      background-color: $_accent_btn_color;
    }
  }
  .decline-cookies {
    background-color: $_main_bg_color;
    border: 1px solid $_main_text_color;
    &:hover,
    &:focus {
      background: rgba(255, 255, 255, 0.32);
    }
  }
}
