.reviews {
  position: relative;

  &-btn.swiper-button-next,
  &-btn.swiper-button-prev {
    top: 6%;
    transition: all $transition;
    @include media(desktop) {
      top: 0%;
      transform: translateY(0%);
    }
  }
  &-btn.swiper-button-next {
    right: 42px;
    @include media(desktop) {
      right: 335px;
    }
  }
  &-btn.swiper-button-prev {
    left: 42px;
    @include media(desktop) {
      left: 335px;
    }
  }
  &-title {
    margin-bottom: 32px;
    // margin-top: 10px;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    text-shadow: $_text_shadow;
    @include media(desktop) {
      font-size: 36px;
      margin-bottom: 53px;
    }
  }
}
.swiper.swiperReviews {
  box-sizing: content-box;

  border-radius: 8px;
  border: 1px solid $_main_text_color;
  @include media(desktop) {
    border: none;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
.reviews-item {
  border-radius: 8px;
  padding: 24px;
  line-height: 20px;
  border: 1px solid $_main_text_color;
  box-sizing: border-box;
  transition: all $transition;
  &.swiper-slide {
    height: 344px;
  }

  @include media(desktop) {
    &.swiper-slide {
      border: 2px solid $_main_text_color;
      width: 344px;
      height: 440px;
      transition: border $transition;
      // scale: 1;
      // transition: scale 3000s ease-out;
    }
    &.swiper-slide-active {
      // border: 1px solid $_main_text_color;
      // scale: 1.1;

      & > .reviews-item_title {
        font-weight: 500;
      }
      & > .reviews-item_text {
        font-weight: 400;
      }
    }
  }
  &_title {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    text-shadow: $_text_shadow;
    margin-bottom: 8px;

    @include media(desktop) {
      font-size: 24px;

      & span {
        font-weight: 300;
      }
    }
  }
  &_text {
    font-weight: 400;
    font-size: 16px;
    text-shadow: $_text_shadow;
    @include media(desktop) {
      font-weight: 300;
      font-size: 20px;
      line-height: 1.2;
    }
  }
}
.reviews-stars_list {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;

  .star > .star-icon {
    width: 36px;
    height: 36px;
  }
}
