<header class="header">
  <div class="container header-container">
    <button class="burger-menu js-open-menu">
      <img
        src="./img/png-icons/burger@2x.png"
        alt="'burger' icon for open menu"
      />
    </button>
    <div class="menu-container js-menu-container">
      <nav class="nav">
        <button class="close-btn js-close-menu">
          <img
            src="./img/png-icons/close@2x.png"
            alt="close icon for close menu"
          />
        </button>
        <ul class="nav-list">
          <li><a class="js-header-link header-link" href="#hero">Home</a></li>
          <li>
            <a class="js-header-link header-link" href="#benefits">Benefits</a>
          </li>
          <li>
            <a class="js-header-link header-link" href="#about"
              >About the Game
            </a>
          </li>
          <li>
            <a class="js-header-link header-link" href="#gallery">Gallery</a>
          </li>
          <li>
            <a class="js-header-link header-link" href="#reviews"
              >User Reviews</a
            >
          </li>
          <li>
            <a class="js-header-link header-link" href="#choose"
              >Why Choose Trail Boss BMX</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
