<header class="header">
  <div class="container header-container">
    <button class="burger-menu js-open-menu">
      <img src="./img/png-icons/burger.png" alt="" />
    </button>
    <div class="menu-container js-menu-container">
      <nav class="nav">
        <button class="close-btn js-close-menu">
          <img src="./img/png-icons/close.png" alt="" />
        </button>
        <ul class="nav-list">
          <li><a class="header-link" href="/">Home</a></li>
          <li><a class="header-link" href="#">Benefits</a></li>
          <li>
            <a class="header-link" href="#about">About the Game </a>
          </li>
          <li><a class="header-link" href="#">Gallery</a></li>
          <li><a class="header-link" href="#">User Reviews</a></li>
          <li>
            <a class="header-link" href="#choose">Why Choose Trail Boss BMX</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
