.footer-list {
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.72);
  margin-bottom: 16px;

  .footer-list-link {
    @include font(16, 20);
  }
}

.footer-all-rights {
  margin: 0 auto;
  text-align: center;
  max-width: 220px;
  @include font(14, 16);
  .bold-text {
    font-weight: 500;
  }
}
