@import 'normalize-scss/sass/normalize';
@import './header.scss';
@import './components/main_page/playMarketLink.scss';
@import './components/main_page/main_page.scss';
@import './footer.scss';
@import './common/_base.scss';

:root {
  font-family: $font-family;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $_main_text_color;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
