@import './node_modules/normalize-scss/sass/normalize';
@include normalize();
@import './header.scss';
@import './components/main_page/main_page.scss';

:root {
  font-family: $font-family;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $_main_text_color;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

section {
  margin-bottom: 32px;
}
.container {
  padding: 0 12px;
  margin: 0 auto;
  @include media(mobile) {
    width: $mobile;
  }
  @include media(desktop) {
    width: $desktop;
  }
}
